
<nav class="navbar">
<h1>Ruby Rails Development</h1>
<div class="links">
    <a href="http://[::1]:3000">Home</a>
    <a href="http://[::1]:3000/articles">Articles</a>
    <a href="/">Resources</a>
    <a href="/">Community</a>
    <a href="/">Contact Us</a>
    <a href="/">FAQs</a>
</div>
</nav>

<h2>Why Ruby on Rails?</h2>

<div class="row">
  <div class="column">
  <img src="<%= image_path 'programmer.jpg' %>" />
  </div>
  <div class="column">
  <h3>Ruby on Rails is primarily used for creating high-performance web platforms. Ruby on Rails had conventions that make it easier for developers, as there are standard structures and coding practices that are followed.     </h3>

 </div>
 </div>




