
<nav class="navbar">
<h1>Ruby Rails Development</h1>
<div class="links">
    <a href="http://[::1]:3000">Home</a>
    <a href="http://[::1]:3000/articles">Articles</a>
    <a href="http://[::1]:3000/resources">Resources</a>
    <a href="http://[::1]:3000/communities">Community</a>
    <a href="/">Contact Us</a>
    <a href="/">FAQs</a>
</div>
</nav>

<r>

<h2>Why Ruby on Rails?</h2>


  <img src="<%= image_path 'programmer.jpg' %>" />


  <div class="column">
  <h3>1.Ruby on Rails is primarily used for creating high-performance web platforms.  </h3>
  </div>
  <div class="column">
  <h3> 2. It is always a suitable option for programming a wide range of tasks for a web application. It is also popular for its Rapid Application development and can easily be modified with required changes    </h3>
 </div>
 <div class="column">
 <h3> 3. As Ruby on Rails uses a concise amount of code, which makes it easier to detect and rectify any errors </h3>
</div>
<div class="column">
<h3> 4. Ruby on Rails had conventions that make it easier for developers, as there are standard structures and coding practices that are followed.      </h3>
</div>
 




