<div>
<h2> Tired of coding? Read some fresh new BLOGS from the experts!</h2>
</div>

<div>
<a href="http://[::1]:3000/articles"> READ BLOGS </a>
</div>

<div>
<img src="<%= image_path 'programmer.gif' %>" />
</div>



