<nav className="navbar">
<h1>Ruby Rails Development</h1>
<div className="links">
    <a href="http://[::1]:3000">Home</a>
    <a href="http://[::1]:3000/articles">Articles</a>
    <a href="/">Resources</a>
    <a href="/">Community</a>
    <a href="/">Contact Us</a>
    <a href="/">FAQs</a>



</div>
</nav>

<div>
<img src="<%= image_path 'programmer.gif' %>" />
</div>



