// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Quicksand";
    box-sizing: border-box;
  }

.navbar {
    font-family: "Quicksand";
    color: #f1356d;  
}

div {
  font-size: medium;
  color: #0f0e0eb0;  
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  
}

div>h3 {
  color: #fa4074; 
  font-style: normal;
  display: grid;
  grid-template-columns: auto auto auto;
  background-image: linear-gradient(to right, #90cafc 0%, #1cf6fd 100%);
  padding: 10px;
  border-radius:15px;

}

.row {
  display: flex;
}

  /* Create three equal columns that sits next to each other */
h2 {
  color: #f1356d;
  margin-left: auto;
  padding: 6px;
  text-decoration: underline;
  }

a{
    color: #f1356d;
    margin-left: auto;
    padding: 6px;
}

img {
    display: flex;
    width: 50vw;
    height:70vh;
    float: left;
    border-radius: 20px;
    }

   
    
  

    

